<launch>
  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find cool1000_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

    <include file="$(find cool1000_arm_control)/launch/cool1000_arm_control.launch"/>
 
  <include file="$(find cool1000_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find cool1000_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
  <include file="$(find cool1000_moveit_config)/launch/default_warehouse_db.launch" />

</launch>
